* {
  margin: 0;
  padding: 0;
}

.textCenter {
  text-align: center;
}

.alignRight {
  float: inline-end;
}

.flexRow {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  flex-wrap: nowrap;
}

.margin2 {
  margin: 2%;
}

.marginLeft25 {
  margin-left: 2.5%;
}

.marginLeft45 {
  margin-left: 45%;
}

.padding1 {
  padding: 1.25%;
}

.width13 {
  width: 13%;
  height: 20vh;
}

.width95 {
  width: 95%;
}

.boxShadow {
  box-shadow: 0 3px 16px -4px rgba(0, 0, 0, 0.3);
  border-radius: 10px;
}

.fontSize4 {
  font-size: 4rem;
}

.fontSize3 {
  font-size: 2.8rem;
}

.fontSize13 {
  font-size: 13px;
}

.fontSize15 {
  font-size: 15px;
}

.fontSize20 {
  font-size: 20px;
}

.bold {
  font-weight: bold;
}

.viewAllBtn {
  border: none;
  border-radius: 3px;
  background: blueviolet;
  color: #fff;
  padding: 4px 12px 4px 12px;
}

.backBtn {
  border: none;
  background: #fff;
  font-size: 35px;
}

.blueColor {
  color: blueviolet;
}

.orangeColor {
  color: orange;
}

.greenColor {
  color: green;
}

.greyColor {
  color: grey;
}